{% set classes = [
  'paragraph',
  'paragraph--type--' ~ paragraph.bundle|clean_class,
  paragraph.isPublished() ? 'paragraph--' ~ grid_type,
  view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
  paragraph.isPublished() ? null : 'paragraph--unpublished'
] %}
{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    {% block content %}

      {# Begin - heading #}
      {{ content.field_os2web_spotbox_reference_heading }}
      {# End - heading #}

      {# Begin - reference #}
      {{ content.field_os2web_spotbox_reference }}
      {# End - reference #}

    {% endblock %}
  </div>
{% endblock paragraph %}
